@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --blue-stone-200: #b0dfda;
  --blue-stone-400: #56aba9;
  --blue-stone-500: #3c908f;
  --blue-stone-600: #2e7273;
  --blue-stone-800: #24494b;
  --blue-stone-900: #213f40;
  --color-1: #7e7e7e;
  --color-text: #222222;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  line-height: 100%;
  letter-spacing: 0;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

/* Typo */
.fw-extra-bold {
  font-weight: 800;
}

.regular-1 {
  font-weight: 400;
  font-size: 18px;
}

.regular-2 {
  font-weight: 400;
  font-size: 15px;
}

.medium-4 {
  font-weight: 500;
  font-size: 18px;
}

.semi-bold-1 {
  font-weight: 600;
  font-size: 18px;
}

.bold-2 {
  font-weight: 700;
  font-size: 15px;
}

.bold-3 {
  font-weight: 700;
  font-size: 18px;
}

.bold-4 {
  font-weight: 700;
  font-size: 14px;
}

.extra-bold-1 {
  font-weight: 800;
  font-size: 35px;
}

.extra-bold-2 {
  font-weight: 800;
  font-size: 13px;
}

.extra-bold-3 {
  font-weight: 800;
  font-size: 36px;
}

.extra-bold-4 {
  font-weight: 800;
  font-size: 30px;
}

.extra-bold-5 {
  font-weight: 800;
  font-size: 25px;
}

.extra-bold-6 {
  font-weight: 800;
  font-size: 20px;
}

/* Color */
.border-card {
  border-color: #c3c3c3;
}

.text-blue-stone-600 {
  color: var(--blue-stone-600);
}

.color-1 {
  color: var(--color-1);
}

.color-text {
  color: var(--color-text);
}

.bg-blue-stone-200 {
  background-color: var(--blue-stone-200);
}

.bg-blue-stone-500 {
  background-color: var(--blue-stone-500);
}

.bg-blue-stone-600 {
  background-color: var(--blue-stone-600);
}

.bg-blue-stone-800 {
  background-color: var(--blue-stone-800);
}

.bg-blue-stone-900 {
  background-color: var(--blue-stone-900);
}

.btn-blue-stone-600 {
  background-color: var(--blue-stone-600);
}

.btn-blue-stone-600:hover,
.btn-blue-stone-600:focus,
.btn-blue-stone-600:focus-visible {
  background-color: var(--blue-stone-600);
}
